style.css:

/*
style.css
*/
body{
background-color:;
}
#page{
width:1150px;
height:768px;
margin:0 auto;
background-color:#F8FEF4;
padding:20px;
border:none;
border-radius: 8px;
background-image:url('image/4.jpg');
background-repeat:no-repeat;
}
#logo{
margin:none;
text-align:none;
/*border:1px solid #000;*/
}
#menu{
top:70px;
width:768px;
height:45px;
border:1px solid #000;
margin:0 auto;
background-color:#EAE6E5;
border-radius: 8px;
}
#navi{
position:absolute;
top:80px;
border:1px solid #000;
width:133px;
height:700px;
margin:10px;
margin-left:0px;
border-radius: 8px;
background-color:#EAE6E5;
background-image:url('image/4.jpg');
}
#content{
position:absolute;
top:80px;
left:190px;
border:1px solid #000;
width:1005px;
height:700px;
margin:10px;
border-radius: 8px;
background-color:#EAE6E5;
background-image:url('image/2.jpg');
}
#mb1uu0ebul_table {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  font-size: 0px;
  display: inline-block;
}

#mb1uu0ebul_table li a {
  line-height: 19px;
  font-size: 16px;
  font-family: "TImes New Roman",sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  padding: 12px 30px 12px 15px;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

#mb1uu0ebul_table li div.buttonbg {
  height: 43px;
  width: 104px;
  line-height: 0;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: center;
}

#mb1uu0ebul_table li:hover div.buttonbg a, #mb1uu0ebul_table li.expanded a.topitem, #mb1uu0ebul_table li.active a.topitem,
#mb1uu0ebul_table li.itemhot a.topitem, #mb1uu0ebul_table li a:hover {
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}


#mb1uu0ebul_table li.expanded div.buttonbg, #mb1uu0ebul_table li.active div.buttonbg, #mb1uu0ebul_table li.itemhot div.buttonbg, #mb1uu0ebul_table li:hover div.buttonbg {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}

#mb1uu0ebul_table {
  padding: 0;
  border-style: solid;
  border-color: #A0874F;
  border-width: 1px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 0 5px -1px #333333, 0 1px 2px -1px #FFFFFF inset;
  border-collapse: separate;
}

#mb1uu0ebul_table li.first_button div.buttonbg {
  border-radius: 4px 0 0 4px;
}

#mb1uu0ebul_table li.last_button div.buttonbg {
  border-radius: 0 4px 4px 0;
}

#mb1uu0ebul_table ul li a {
  color: #684617;
  font-family: TI§,sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  white-space: nowrap;
}

#mb1uu0ebul_table ul li:hover > a {
  color: #FFFFFF;
  font-family: TI§,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mb1uu0ebul_table ul li.subexpanded a.subexpanded, #mb1uu0ebul_table ul li.subitemhot a.subitemhot, #mb1uu0ebul_table ul li a:hover {
  color: #FFFFFF;
  font-family: TI§,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mb1uu0ebul_table ul li:hover, #mb1uu0ebul_table ul li.subexpanded, #mb1uu0ebul_table ul li.subitemhot {
  border-color: #A28951;
  background-color: transparent;
  box-shadow: 1px 1px 2px -1px #FFFFFF inset;
}

#mb1uu0ebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #98B7E4;
  border-width: 0;
  padding: 5px;
  background: transparent;
  font-size: 0;
  border-radius: 5px;
  text-align: center;
}

#mb1uu0ebul_table ul li a {
  padding: 7px 15px 7px 13px;
  text-align: left;
}

#mb1uu0ebul_table ul li.separator {
  padding: 7px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mb1uu0ebul_table ul li.separator div {
  border-top: 1px solid #684617;
  font-size: 0px;
}

#mb1uu0ebul_table ul li {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  height: auto;
  width: auto;
  text-align: left;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  float: none;
  margin: 0 0 0px 0;
  border-radius: 4px;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}


#mb1uu0ebul_table ul {
  box-shadow: 0 0 7px -1px #666666;
}

#mb1uu0ebul_table .spaced_li {
  margin: 0px 0px 0px 0px;
}

#mb1uu0ebul_table a img {
  border: none;
}

#mb1uu0ebul_table li {
  list-style: none;
  float: left;
}

#mb1uu0ebul_table.css_menu li {
  position: relative;
}

#mb1uu0ebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mb1uu0ebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mb1uu0ebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mb1uu0ebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mb1uu0ebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mb1uu0ebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mb1uu0ebul_table .submenu_arrow {
  margin-left: 8px;
}

#mb1uu0ebul_table div.arrow { 
  background-image: url(ebab_mb1uu0_d.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mb1uu0ebul_table ul li a.with_arrow { 
  background-image: url(ebab_mb1uu0_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 30px; 
} 

#mb1uu0ebul_table div.gradient43 { 
  background-image: url('button_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #5D360B; 
} 

#mb1uu0ebul_table li:hover div.gradient43, #mb1uu0ebul_table li.expanded div.gradient43, #mb1uu0ebul_table li.active div.gradient43, #mb1uu0ebul_table li.itemhot div.gradient43 { 
  background-image: url('buttonhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #452401; 
} 

#mb1uu0ebul_table div.gradient_button { 
  background: -moz-linear-gradient(top, #F1D395 0%, #BC8C3A 48%, #A87621 51%, #5D360B 100%); 
  background: -webkit-linear-gradient(top, #F1D395 0%, #BC8C3A 48%, #A87621 51%, #5D360B 100%); 
  background: -ms-linear-gradient(top, #F1D395 0%, #BC8C3A 48%, #A87621 51%, #5D360B 100%); 
  background: linear-gradient(top, #F1D395 0%, #BC8C3A 48%, #A87621 51%, #5D360B 100%); 
} 

#mb1uu0ebul_table li:hover div.gradient_button, #mb1uu0ebul_table li.expanded div.gradient_button, #mb1uu0ebul_table li.active div.gradient_button, #mb1uu0ebul_table li.itemhot div.gradient_button { 
  background: -moz-linear-gradient(top, #A16D1A 0%, #815913 48%, #694717 51%, #452401 100%); 
  background: -webkit-linear-gradient(top, #A16D1A 0%, #815913 48%, #694717 51%, #452401 100%); 
  background: -ms-linear-gradient(top, #A16D1A 0%, #815913 48%, #694717 51%, #452401 100%); 
  background: linear-gradient(top, #A16D1A 0%, #815913 48%, #694717 51%, #452401 100%); 
} 

#mb1uu0ebul_table ul.gradient134 { 
  background-image: url('menu_bg1.png'); 
  background-repeat: repeat-x; 
  background-color: #F2E0BB; 
} 

#mb1uu0ebul_table ul.gradient72 { 
  background-image: url('menu_bg3.png'); 
  background-repeat: repeat-x; 
  background-color: #F2E0BB; 
} 

#mb1uu0ebul_table ul.gradient103 { 
  background-image: url('menu_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #F2E0BB; 
} 

#mb1uu0ebul_table ul.gradient41 { 
  background-image: url('menu_bg2.png'); 
  background-repeat: repeat-x; 
  background-color: #F2E0BB; 
} 

#mb1uu0ebul_table ul.gradient_menu { 
  background: -moz-linear-gradient(top, #FDFBF7 0%, #F2E0BB 100%); 
  background: -webkit-linear-gradient(top, #FDFBF7 0%, #F2E0BB 100%); 
  background: -ms-linear-gradient(top, #FDFBF7 0%, #F2E0BB 100%); 
  background: linear-gradient(top, #FDFBF7 0%, #F2E0BB 100%); 
} 

#mb1uu0ebul_table ul li.gradient31:hover, #mb1uu0ebul_table ul li.gradient31.subexpanded, #mb1uu0ebul_table ul li.gradient31.subitemhot { 
  background-image: url('menuitemhot_bg.png'); 
  background-repeat: repeat-x; 
  background-color: #653D0E; 
} 

#mb1uu0ebul_table ul li.gradient_menuitem:hover, #mb1uu0ebul_table ul li.gradient_menuitem.subexpanded, #mb1uu0ebul_table ul li.gradient_menuitem.subitemhot { 
  background: -moz-linear-gradient(top, #EFD194 0%, #BC8C3B 48%, #A47421 51%, #653D0E 100%); 
  background: -webkit-linear-gradient(top, #EFD194 0%, #BC8C3B 48%, #A47421 51%, #653D0E 100%); 
  background: -ms-linear-gradient(top, #EFD194 0%, #BC8C3B 48%, #A47421 51%, #653D0E 100%); 
  background: linear-gradient(top, #EFD194 0%, #BC8C3B 48%, #A47421 51%, #653D0E 100%); 
} 

#mb1uu0ebul_table li a.button_1, #mb1uu0ebul_table li div a.button_1 { 
  padding-right: 15px; 
} 

#mb1uu0ebul_table li a.button_2, #mb1uu0ebul_table li div a.button_2 { 
  font-family: "times New Roman",sans-serif; 
} 

#mb1uu0ebul_table li a.button_3, #mb1uu0ebul_table li div a.button_3 { 
  font-family: "times New Roman",sans-serif; 
} 

#mb1uu0ebul_table li a.button_5, #mb1uu0ebul_table li div a.button_5 { 
  padding-right: 15px; 
} 

#mb1uu0ebul_table li a.button_6, #mb1uu0ebul_table li div a.button_6 { 
  padding-right: 15px; 
} 

#mb1uu0ebul_table li a.button_7, #mb1uu0ebul_table li div a.button_7 { 
  padding-right: 15px; 
} 

#mb1uu0ebul_table li a.button_8, #mb1uu0ebul_table li div a.button_8 { 
  font-family: "times New Roman",sans-serif; 
} 
#footer{
background-color:#F5EBC0;
clear:both;
text-align:right;
}
 /* Some stylesheet reset */
#cssmenu  > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}/* The container */
#cssmenu  > ul {
	display: block;
	position: relative;
	width: 150px;
}

	/* The list elements which contain the links */
	#cssmenu  > ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 150px;	
	}

		/* General link styling */
		#cssmenu  > ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #3a3a3a;
			border-bottom: 1px dotted #1b1b1b;
			padding: 11px 20px;
			width: 90px;

			/* Typography */
			font-family: Helvetica, Arial, sans-serif;
			color: black;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: none;
			font-size: 13px;
			font-weight: 300;			

			/* Background & effects */
			background: #fff;
		}

		/* Rounded corners for the first link of the menu/submenus */
		#cssmenu  > ul li:first-child>a {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}

		/* Rounded corners for the last link of the menu/submenus */
		#cssmenu  > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}


		/* The hover state of the menu/submenu links */
		#cssmenu  > ul li>a:hover, #cssmenu  > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
			background: #54cdf1;
			background: -webkit-linear-gradient(bottom, #54cdf1, #74d7f3);
			background: -ms-linear-gradient(bottom, #54cdf1, #74d7f3); 
			background: -moz-linear-gradient(bottom, #54cdf1, #74d7f3);
			background: -o-linear-gradient(bottom, #54cdf1, #74d7f3);
			border-color: transparent;
		}

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #000;
		}

		/* Changing the color of the arrow on hover */
		#cssmenu  > ul li>a:hover::after, #cssmenu  > ul li:hover>a::after {
			border-left: 4px solid #fff;
		}

		#cssmenu  > ul li>a:hover::before, #cssmenu  > ul li:hover>a::before {
			border-left: 4px solid rgba(0, 0, 0, .3);
		}

		/*For screens 980px or less*/
@media screen and (max-width: 1150px){
#page{width:94%;}
#content{width:66%;}
#navi{width:18%;}
#menu{width:66%;}
#mb1uu0ebul{width:66%;}
}
/*For screens 700px or less*/
@media screen and (max-width:700px){
#page{width:auto;float:none;}
#content{width:auto;float:none;}
#navi{width:auto;float:none;}
#menu{width:auto;float:none;}
}
/*For screens 480px or less*/
@media screen and (max-width:480px){
#menu{height:auto;}
h1{font-size:24px;}
body{font-size:0.8em;}
#navi{display:none;}
}
	
